body {
  font-family: Arial, Helvetica, sans-serif;
}

.Weather {
  border-radius: 5px;
  border: 2px solid #99bda6;
  padding: 15px;
  max-width: 600px;
  margin: 25px auto;
}

.Weather form {
  margin-top: 5px;
}

.Weather h1 {
  line-height: 1.5;
  font-size: 45px;
}

.Weather ul {
  padding: 0;
  margin-bottom: 20px;
}

.Weather li {
  font-size: 18px;
  line-height: 1.5;
  list-style: none;
  text-align: center;
  margin-bottom: 3px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 35px;
}
